<?xml version="1.0" ?>
<robot name="wheelchair">

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <link name="root">
    <inertial>
      <mass value="0"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="1.57079632679 0 3.14159265359" xyz="0 0 0"/>
      <geometry>
        <mesh filename="wheelchair_permobil_reduced_compressed.obj" scale="0.15 0.15 0.15"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin rpy="1.57079632679 0 3.14159265359" xyz="0 0 0"/>
      <geometry>
        <mesh filename="wheelchair_permobil_reduced_compressed_vhacd.obj" scale="0.15 0.15 0.15"/>
      </geometry>
    </collision>
  </link>
</robot>

