<?xml version="1.0" ?>
<robot name="scratcher">

    <material name="color">
        <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <link name="handle">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.05 0.05"/>
            </geometry>
            <material name="color"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.05 0.05"/>
            </geometry>
        </collision>
        <contact>
            <rolling_friction value="0.001"/>
            <spinning_friction value="0.001"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <!--<mass value="1.66"/>-->
            <mass value="0.1"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
    </link>

    <link name="tool">
        <visual>
            <origin xyz="0.05 0 0" rpy="0 1.5708 0"/>
            <geometry>
                <cylinder length="0.05" radius="0.01"/>
            </geometry>
            <material name="color"/>
        </visual>
        <collision>
            <origin xyz="0.05 0 0" rpy="0 1.5708 0"/>
            <geometry>
                <cylinder length="0.05" radius="0.01"/>
            </geometry>
        </collision>
        <contact>
            <rolling_friction value="0.001"/>
            <spinning_friction value="0.001"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
    </link>

    <link name="tool_tip">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.01"/>
            </geometry>
            <material name="color"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.01"/>
            </geometry>
        </collision>
        <contact>
            <rolling_friction value="0.001"/>
            <spinning_friction value="0.001"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
    </link>

    <joint name="j_weld1" type="fixed">
        <parent link="handle"/>
        <child link="tool"/>
        <origin xyz="0 0 0"/>
    </joint>
    <joint name="j_weld2" type="fixed">
        <parent link="tool"/>
        <child link="tool_tip"/>
        <origin xyz="0.075 0 0"/>
    </joint>

</robot>
